@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

#title{
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
  }